<div class="card">
  <div class="card-header" id="headingOne">

    <h5 class="mb-0">
      Voters
    </h5>

  </div>

  <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
    <div class="card-body">
      <form (ngSubmit)="addVoter()" #voterForm="ngForm">
        <div class="row">
          <div class="col-md-2">
            <label>Name :</label>
          </div>
          <div class="col-md-6">
            <input [(ngModel)]="newVoter.name" autocomplete="off" class="form-control" name="name" minlength="4"
              required maxlength="25" #name="ngModel" />
          </div>
          <div class="col-md-2">
            <button type="submit" [disabled]="voterForm.invalid" class="btn btn-success">
              Add
            </button>
          </div>
        </div>

        <div *ngIf="name.invalid && name.dirty" class="text-danger">
          <div *ngIf="name.errors?.['required']">Name is required.</div>
          <div *ngIf="name.errors?.['minlength']">Name must be at least 4 characters long.</div>
        </div>
      </form>
    </div>
  </div>
</div>
<hr>
<div class="card">
  <div class="card-body">
    <table class="table table-bordered">
      <thead>
        <th>Voter Name</th>
        <th>Has Voted</th>
      </thead>
      <tbody>
        <tr *ngFor="let v of voters$ | async">
          <td>{{ v.name }}</td>
          <td>{{ v.hasVoted ? 'Yes' : 'No' }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>